@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #05090f;
}
::-webkit-scrollbar-thumb {
  background: #1a2332;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a3342;
}
